@import 'variables';
@import 'mixins';

.cover {
  display: flex;
  align-items: center;
  margin-bottom: 94px;

  @include tablet-lg {
    margin-bottom: 62px;
  }

  @include mobile-md {
    flex-direction: column;
    margin-top: 60px;
  }

  @include mobile-sm {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &Left {
    display: flex;
    width: 100%;
    flex-direction: column;

    @include mobile-md {
      align-items: center;
      order: 2;
      margin-top: 80px;
    }

    @include mobile-md {
      margin-top: 50px;
    }

    &Title {
      @include h1-title;

      margin-bottom: 12px;

      @include mobile-sm {
        margin-bottom: 8px;
      }
    }
    
    &Text {
      @include accent;

      max-width: 450px;
      margin-bottom: 32px;
      
      @include desktop-xl {
        max-width: 410px;
      }

      @include tablet-lg {
        max-width: 340px;
      }
      
      @include mobile-sm {
        max-width: 300px;
        margin-bottom: 16px;
      }
    }

    &Btn {
      position: relative;
      z-index: 1;
      width: 304px;
      height: 60px;
      border: none;
      border-radius: 5px;
      background: #E52D2D;
      color: #FFF;
      cursor: pointer;
      font-family: $font-alegreya;
      font-size: 18px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 1px;
      line-height: normal;
      outline: none;
      text-transform: uppercase;
      transition: $transition;

      @include mobile-sm {
        width: 288px;
        height: 52px;
      }

      &::after {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        border-radius: 5px;
        background: #FF3C3C;
        content: '';
        transform: translateY(-50%);
        transition: $transition;
      }

      &:hover::after {
        height: 100%;
      }

      &:active::after {
        background: #BF221E;
      }

      &:focus-visible {
        border: 3px solid #8FC9FF;
        background: #E52D2D;
        transition: none;
      }
    }
  }

  &Right {
    position: relative;
    width: 100%;
    max-width: 630px;
    padding-top: 45%;

    @include tablet-lg {
      width: 90%;
    }

    @include mobile-md {
      width: 100%;
      max-width: 708px;
      padding-top: 55%;
    }

    &Bg {
      position: absolute;
      top: 27px;
      left: -12px;
      width: auto;
      height: 88.078%;

      @include tablet-lg {
        top: 60px;
        left: 0;
        height: 74.65%;
      }

      @include mobile-md {
        top: 0;
        left: 12px;
        height: 103.45%;
      }
    }

    &Leaves {
      position: absolute;
      bottom: -31px;
      left: -12%;
      width: 50%;
      height: auto;

      @include tablet-lg {
        bottom: -9px;
        left: -9%;
        width: 40%;
      }

      @include mobile-md {
        // bottom: -80px;
        bottom: -20%;
        left: -6%;
        width: 40%;
      }

      @include mobile-sm {
        bottom: -18%;
        left: -3%;
        width: 35%;
      }
    }

    &Pizza {
      position: absolute;
      top: -10%;
      left: 0;
      width: 120%;
      height: auto;

      @include tablet-lg {
        top: 5%;
        left: 0;
        width: 100%;
      }

      @include mobile-md {
        top: -15%;
        left: 42px;
        width: 75%;
      }

      @include mobile-sm {
        top: -16%;
        left: 20px;
        width: 78%;
      }
    }
  }
}