@import 'variables';
@import 'mixins';

.footer {
  position: relative;
  padding: 32px 0 36px;
  background: #000;
  // z-index: -1;

  @include mobile-sm {
    padding: 24px 0 40px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile-sm {
    flex-direction: column;
  }
}

.logo {
  position: relative;
  width: 112px;
  height: 52px;

  &:hover {
    svg path {
      transition: $transition;
      fill: #E52D2D;
    }
  }

  @include tablet-lg {
    width: 90px;
    height: 42px;
  }

  @include mobile-sm {
    width: 79px;
    height: 36px;
    margin-bottom: 25px;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  margin-left: 100px;

  @include desktop-xl {
    margin-left: 80px;
  }

  @include mobile-md {
    margin-left: auto;
  }

  @include mobile-sm {
    margin-bottom: 10px;
    margin-left: 0;
  }

  &>a {
    margin-bottom: 6px;
    @include h4-title;
    color: #fff;
    transition: $transition;

    &:hover {
      color: #E52D2D;
    }

    @include tablet-lg {
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 1.333px;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &>span {
    @include desc-text;
    color: #fff;

    @include mobile-sm {
      text-align: center;
    }
  }
}

.confidencial {
  margin-left: auto;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: $transition;

  &:hover {
    color: #E52D2D;
  }

  @include mobile-sm {
    margin-left: 0;
    text-align: center;
  }
}