@import 'variables';

.nav {
  overflow: auto;
  
  @include tablet-lg {
    position: fixed;
    z-index: 9;
    top: 0;
    right: -320px;
    display: flex;
    width: 320px;
    height: 100%;
    flex-direction: column;
    padding: 120px 60px 40px;
    background: #313945;
    transition: $transition;

    &.menuToggle {
      right: 0;
    }
  }

  &Logo {
    position: absolute;
    top: 12px;
    left: 16px;
    display: none;
    
    @include mobile-sm {
      display: block;
    }
  }

  &List {
    display: flex;

    @include tablet-lg {
      flex-direction: column;
    }

    &Item {
      margin: 0 30px;
      
      @include desktop-xl {
        margin: 0 10px;
      }

      @include tablet-lg {
        border-bottom: 1px solid #1d2228;

        &:last-child {
          border: none;
        }
      }

      &>a {
        color: #000;
        font-family: $font-alegreya;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: normal;
        text-transform: uppercase;
        transition: $transition;

        &:hover {
          color: #e52d2d;
        }

        @include desktop-xl {
          font-size: 16px;
        }

        @include tablet-lg {
          display: block;
          padding: 24px 0;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          text-align: center;
        }
      }
    }
  }

  &Info {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    
    @include tablet-lg {
      display: flex;
    }

    &Title {
      color: #A8B0BC;
      font-family: $font-roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
    }

    &Phone {
      color: #FFF;
    }

    &Time {
      color: #A8B0BC;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &Language {
    display: none;
    margin-top: 40px;
    color: #FFF;
    font-family: $font-alegreya;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.667px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;

    @include mobile-md {
      display: flex;
      justify-content: center;
    }
  }
}