@import '~modern-normalize/modern-normalize.css';
@import "reset";
@import "base";
@import "modules/flex";


.container {
  max-width: 1312px;
  margin: 0 auto;
  
  @include desktop-xxl {
    padding: 0 30px;
  }

  @include mobile-sm {
    padding: 0 16px;
  }
}