@import 'variables';
@import 'mixins';

.carousel {
  display: none;
  margin-bottom: 60px;

  @include mobile-sm {
    display: block;
  }

  &Slides {
    position: relative;
    border-radius: 5px;
    margin-bottom: 13px;
    aspect-ratio: 288 / 171;
    background-position: center;
    background-size: cover;
    transition-duration: 500ms;
  }

  &LeftArrow {
    position: absolute;
    left: 0;
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
  }

  &RightArrow {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
  }

  &Title {
    @include h3-title;

    margin-bottom: 8px;
  }

  &Text {
    height: 42px;
    margin-bottom: 20px;
    color: #000;
    font-family: $font-roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  &Points {
    display: flex;
    justify-content: center;
  }

  &PointsItem {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    background: #BAC4D6;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.selected {
  background: #E52D2D;
}