@import 'variables';
@import 'mixins';

.promo {
  display: grid;
  margin-bottom: 112px;
  column-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  
  @include tablet-lg {
    margin-bottom: 80px;
  }
  
  @include mobile-sm {
    display: none;
  }

  &Image {
    position: relative;
    margin-top: 12px;
    aspect-ratio: 416 / 247;
  }

  &Title {
    @include h4-title;

    margin-top: 12px;
  }

  &Text {
    @include p-text;
  }
}