@import 'variables';
@import 'mixins';


.delivery {
  padding: 72px 0 80px;
  background: #F8F6F3;

  @include tablet-lg {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  
  @include mobile-md {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  &Title {
    @include h2-title;

    margin-bottom: 26px;
    text-align: center;
    
    @include tablet-lg {
      margin-bottom: 20px;
    }
    
    @include mobile-md {
      margin-bottom: 12px;
    }
  }

  &Grid {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    
    @include mobile-md {
      grid-template-columns: 1fr;
      row-gap: 12px;
    }

    &Block {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 32px 24px;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0 2px 5px 0 rgb(199 193 168 / 30%);

      @include tablet-lg {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 20px;
      }
      
      @include mobile-md {
        flex-direction: row;
      }

      &Icon {
        position: relative;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        margin-right: 24px;

        @include tablet-lg {
          width: 56px;
          height: 54px;
          margin-top: 0;
          margin-bottom: 12px;
        }
        
        @include mobile-md {
          width: 48px;
          height: 48px;
          margin-top: 7px;
          margin-right: 14px;
          margin-bottom: 0;
        }
      }

      &Title {
        @include h4-title;

        margin-bottom: 6px;
        
        @include tablet-lg {
          font-size: 20px;
        }
        
        @include mobile-md {
          font-size: 18px;
        }
      }

      &Text {
        @include desc-text;

        color: #000;
      }
    }
  }
}