@import 'variables';
@import 'mixins';

.cart {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: $transition;

  &.visible {
    display: block;
    opacity: 1;
  }

  &Bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black-color;
    opacity: 0.9;
  }

  &Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    width: 100%;
    max-width: 704px;
    height: 90%;
    padding: 32px 32px 40px;
    border-radius: 5px;
    background: $white-color;
    transform: translate(-50%, -50%);
    
    @include mobile-sm {
      padding: 32px 10px 40px;
    }
  }

  &Title {
    @include h3-title;

    margin-bottom: 24px;
  }

  &CloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    background: $white-color;
    cursor: pointer;
    font-size: 35px;
    transition: $transition;
    

    &:hover {
      color: $hover-color;
    }
  }

  &List {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $border-color;
    margin-bottom: 23px;
  }

  &Item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    border-top: 1px solid $border-color;

    &Image {
      position: relative;
      width: 100px;
      height: 100px;
      margin-right: 4px;

      @include mobile-sm {
        width: 130px;
      }

      &WrapIcon {
        position: absolute;
        top: 0;
        left: -4px;
        display: flex;
        flex-direction: column;

      }

      &Icon {
        position: relative;
        width: 12px;
        height: 12px;
      }

      &SizeL {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 83px;
        height: 83px;
        transform: translate(-50%, -50%);

        circle {
          stroke-dasharray: 10;
          stroke-width: 3;
        }
      }

      &SizeM {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 68px;
        height: 68px;
        transform: translate(-50%, -50%);

        circle {
          stroke-dasharray: 15;
          stroke-width: 3;
        }
      }

      &Pizza {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // width: 68px;
        // height: 68px;

        &.sizeL {
          width: 83px;
          height: 83px;
        }

        &.sizeM {
          width: 68px;
          height: 68px;
        }

        &.sizeS {
          width: 55px;
          height: 55px;
        }
      }
    }

    &Pizza {
      width: 136px;
      margin-right: auto;

      // display: flex;
      // flex-direction: column;

      &Name {
        color: $black-color;
        font-family: $font-alegreya;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }

      &Size {
        color: $black-color;
        font-family: $font-roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }

    &Count {
      display: flex;
      align-items: center;

      &Btn {
        padding: 0;
        border: none;
        background: $white-color;
        color: $cart-btn-color;
        cursor: pointer;
        font-size: 28px;
        line-height: 1px;
        
        &:hover {
          svg path {
            fill: $btn-color;
            transition: $transition;
          }
        }

        svg path {
          fill: $cart-btn2-color;
          transition: $transition;
        }

        &:disabled {
          svg path {
            fill: $cart-btn3-color;
          }
        }

        &:enabled:active {
          svg path {
            fill: $hover-color;
          }
        }
      }

      &Input {
        max-width: 60px;
        padding: 11px;
        border: 1px solid $input-border-color;
        border-radius: 4px;
        margin: 0 7px;
        background: $white-color;
        color: $black-color;
        font-family: $font-roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
      }
    }

    &Price {
      @include h4-title;

      width: 97px;
      margin-right: 32px;
      margin-left: auto;
      
      @include tablet-lg {
        margin-right: 0;
      }

      @include mobile-sm {
        // margin-right: 0;
        font-size: 18px;
        text-align: end;
      }
    }

    &DelBtn {
      position: absolute;
      top: 8px;
      right: 0;
      width: 24px;
      height: 24px;
      padding: 0;
      border: none;
      background: $white-color;
      color: $cart-btn-color;
      cursor: pointer;
      font-size: 17px;
      transition: $transition;

      &:hover {
        color: $hover-color;
      }
    }
  }

  &Total {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &Text {
      margin-right: 20px;
      margin-bottom: 5px;
      color: $black-color;
      font-family: $font-alegreya;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      @include mobile-sm {
        margin-bottom: 0;
      }
    }

    &Sum {
      color: $black-color;
      font-family: $font-alegreya;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-align: right;

      @include mobile-sm {
        font-size: 24px;
      }
    }
  }

  .form {
    &Title {
      margin-bottom: 14px;
      color: $black-color;
      font-family: $font-alegreya;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      @include mobile-sm {
        margin-top: 24px;
      }
    }

    &TwoInputs {
      display: flex;
      margin-bottom: 24px;

      @include mobile-sm {
        flex-direction: column;
        gap: 24px;
      }


    }

    &Wrap {
      position: relative;
      width: 100%;

      &:nth-child(1) {
        margin-right: 32px;
      }

      &.good {
        label {
          z-index: 2;
          top: 0;
          left: 9px;
          padding: 0 4px;
          background: $white-color;
          color: $input-border-color;
          font-size: 13px;
          transform: translateY(-50%);
        }
      }

      &.error {
        input {
          border-color: $input-error-color;
        }

        label {
          z-index: 2;
          top: 0;
          left: 9px;
          padding: 0 4px;
          background: $white-color;
          color: $input-error-color !important;
          font-size: 13px;
          transform: translateY(-50%);
        }
      }

      &Input {
        z-index: 1;
        width: 100%;
        padding: 13px 12px;
        border: 1px solid $input-border-color;
        border-radius: 4px;
        background: transparent;
        color: $black-color;
        font-family: $font-roboto;
        font-size: 16px;
        outline: none;
        transition: $transition;

        &:hover {
          border-color: $black-color;
        }

        &:focus {
          border-color: $input-focus-color;

          &+label {
            z-index: 1;
            top: 0;
            left: 9px;
            padding: 0 4px;
            background: $white-color;
            color: $input-focus-color;
            font-size: 13px;
            transform: translateY(-50%);
          }
        }
      }

      &Lable {
        position: absolute;
        z-index: -1;
        top: 14px;
        left: 12px;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
        color: $cart-lable-color;
        font-family: $font-roboto;
        font-size: 16px;
        transition: $transition;
      }
    }

    &Pay {
      margin: 32px 0;

      &WrapRadio {
        margin-bottom: 18px;
      }

      &Radio {
        display: none;
      }

      &Radio:checked+label {
        &::before {
          opacity: 1;
        }

        &::after {
          border-color: $black-color;
        }
      }

      &Label {
        position: relative;
        padding-left: 30px;
        color: $black-color;
        cursor: pointer;
        font-family: $font-roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;

        @include mobile-sm {
          font-size: 12px;
        }

        &::before {
          position: absolute;
          top: 4px;
          left: 5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: $hover-color;
          content: '';
          opacity: 0;
        }

        &::after {
          position: absolute;
          top: -1px;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid $input-border-color;
          border-radius: 50%;
          content: '';
          transition: $transition;
        }

        &:hover::after {
          border-color: $black-color;
        }
      }


    }

    &BuyBtn {
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 240px;
      padding: 14px 0;
      border: none;
      border-radius: 5px;
      margin-bottom: 23px;
      background: $hover-color;
      color: $white-color;
      cursor: pointer;
      font-family: $font-alegreya;
      font-size: 18px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 1px;
      line-height: normal;
      outline: none;
      text-transform: uppercase;
      transition: $transition;

      @include tablet-lg {
        padding: 9px 0;
        font-size: 16px;
      }

      &::after {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        border-radius: 5px;
        background: $btn-color;
        content: '';
        transform: translateY(-50%);
        transition: $transition;
      }

      &:active::after {
        background: $active-color;
      }

      &:hover::after {
        height: 100%;
      }

      &:focus-visible {
        border: 3px solid $focus-color;
        background: $hover-color;
        transition: none;
      }
    }

    &Policy {
      color: $desc-color;
      font-family: $font-roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
}