@import 'variables';

.burger {
  z-index: 10;
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px 8px;
  border: none;
  margin-left: 32px;
  background: transparent;
  cursor: pointer;

  @include tablet-lg {
    display: block;

    &.menuToggle {
      .burgerLine {
        background: #fff;

        &:nth-of-type(1) {
          transform: rotate(45deg);
        }

        &:nth-of-type(2) {
          display: none;
        }

        &:nth-of-type(3) {
          width: 24px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  @include mobile-sm {
    margin-left: 24px;
  }

  &Icon {
    position: relative;
    height: 100%;
  }

  &Line {
    position: absolute;
    top: 0%;
    left: 0;
    width: 24px;
    height: 3px;
    border-radius: 1.5px;
    background: #000;
    transition: $transition;

    &:nth-of-type(1) {
      transform-origin: 2px 6px;
    }

    &:nth-of-type(2) {
      top: 50%;
      height: 3px;
      transform: translateY(-50%);
    }

    &:nth-of-type(3) {
      top: auto;
      bottom: 0;
      width: 19px;
      transform-origin: 2px -3px;
    }
  }

}