@import 'variables';
@import 'mixins';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(165 169 176 / 30%);

  @include mobile-sm {
    flex-direction: row;
    padding: 12px 12px 24px;
  }

  &:hover {
    box-shadow: 0 2px 10px 0 rgb(165 169 176 / 50%);

    .cardDescName {
      color: #E52D2D;
    }

    .cardType {
      opacity: 1;
    }
  }

  &Type {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    width: 7.899%;
    height: auto;
    flex-direction: column;
    opacity: 0;
    transition: $transition;

    @include tablet-lg {
      opacity: 1;
    }

    @include mobile-sm {
      top: 9px;
      left: 8px;
      width: 12px;
    }

    &Icon {
      width: 100%;
      height: auto;
      margin-bottom: 7px;
      color: #C5CBD1;

      @include mobile-sm {
        margin-bottom: 5px;
      }
    }
  }

  &Image {
    position: relative;
    margin-bottom: 15px;
    aspect-ratio: 1 / 1;

    @include mobile-sm {
      width: 34%;
      height: fit-content;
      flex-shrink: 0;
      margin-right: 13px;
      margin-bottom: 0;
    }

    &SizeL {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 85%;
      height: 85%;
      transform: translate(-50%, -50%);
    }

    &SizeM {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 72%;
      height: 72%;
      transform: translate(-50%, -50%);
    }

    &Pizza {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 87%;
      height: 87%;
      border-radius: 50%;

      // transform: translate(-50%, -50%);

      &.sizeL {
        animation: sizeLPizza 0.5s ease forwards;
      }

      &.sizeM {
        animation: sizeMPizza 0.5s ease forwards;
      }

      &.sizeS {
        animation: sizeSPizza 0.5s ease forwards;
      }

      @keyframes sizeLPizza {
        0% {
          opacity: 0;
          transform: translate(-50%, -50%) scale(1);
        }

        100% {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }

      @keyframes sizeMPizza {
        0% {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0.85);
        }

        100% {
          opacity: 1;
          transform: translate(-50%, -50%) scale(0.85);
        }
      }

      @keyframes sizeSPizza {
        0% {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0.70);
        }

        100% {
          opacity: 1;
          transform: translate(-50%, -50%) scale(0.70);
        }
      }
    }
  }

  &Desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    @include mobile-sm {
      align-items: flex-start;
    }

    &Name {
      @include h4-title;
      margin-bottom: 6px;
      text-align: center;
      transition: $transition;

      @include tablet-lg {
        margin-bottom: 4px;
        font-size: 20px;
      }
    }

    &Text {
      @include desc-text;
      margin-bottom: 8px;
      text-align: center;

      @include mobile-sm {
        text-align: start;
      }
    }

    &P {
      @include desc-text;
      margin-top: auto;
      margin-bottom: 6px;
      color: #000;
      text-align: center;
    }

    &Sizes {
      display: flex;
      height: 32px;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 2px;
      border-radius: 4px;
      margin-bottom: 12px;
      background: #EFF0F1;

      &Btn {
        width: 58px;
        height: 100%;
        border: none;

        // transition: $transition;
        border-radius: 2px;
        margin-right: 2px;
        color: #82909F;
        cursor: pointer;
        font-family: $font-roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        text-align: center;

        @include mobile-sm {
          width: 52px;
        }

        &.active {
          background: #fff;
          color: #000
        }

        &:last-child {
          margin-right: 0
        }
      }
    }

    &Price {
      margin-bottom: 12px;
      color: #000;
      font-family: $font-roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      text-align: center;

      @include tablet-lg {
        font-size: 20px;
      }

      @include mobile-sm {
        display: none;
      }
    }

    &BuyBtn {
      position: relative;
      z-index: 1;
      width: 100%;
      padding: 14px 0;
      border: none;
      border-radius: 5px;
      background: #E52D2D;
      color: #FFF;
      cursor: pointer;
      font-family: $font-alegreya;
      font-size: 18px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 1px;
      line-height: normal;
      outline: none;
      text-transform: uppercase;
      transition: $transition;

      @include tablet-lg {
        padding: 9px 0;
        font-size: 16px;
      }

      @include mobile-sm {
        display: none;
      }

      &::after {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        border-radius: 5px;
        background: #FF3C3C;
        content: '';
        transform: translateY(-50%);
        transition: $transition;
      }

      &:active::after {
        background: #BF221E;
      }

      &:hover::after {
        height: 100%;
      }

      &:focus-visible {
        border: 3px solid #8FC9FF;
        background: #E52D2D;
        transition: none;
      }
    }

    &BuyBtnMobile {
      display: none;
      padding: 4px 21px;
      border: none;
      border-radius: 5px;
      background: #E52D2D;
      color: #FFF;
      font-family: $font-roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      transition: $transition;

      &:active {
        background: #BF221E;
      }

      @include mobile-sm {
        display: inline-block;
      }
    }

  }
}