@import 'variables';
@import 'mixins';

.catalog {
  &Title {
    @include h2-title;

    margin-bottom: 55px;
    text-align: center;

    @include tablet-lg {
      margin-bottom: 20px;
    }
    
    @include mobile-sm {
      margin-bottom: 24px;
    }
  }

  &Category {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
    @include mobile-sm {
      margin-bottom: 20px;
    }

    &Item {
      position: relative;
      margin: 0 20px;
      cursor: pointer;
      
      @include mobile-sm {
        margin: 0 14px;
      }

      &:hover {
        .catalogCategoryItemIcon {
          top: -10px;
          opacity: 1;
        }
      }

      @include mobile-sm {
        &:hover {
          .catalogCategoryItemIcon {
            top: 0;
            opacity: 1;
          }
        }
      }

      &.active {
        .catalogCategoryItemText {
          color: $hover-color;
        }

        .catalogCategoryItemIcon {
          svg path {
            fill: $hover-color;
          }
          filter: invert(63%) sepia(98%) saturate(6007%) hue-rotate(341deg) brightness(90%) contrast(101%);
        }
      }

      &Icon {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: $transition;

        @include mobile-sm {
          position: relative;
          top: 0;
          left: 0;
          opacity: 1;
          transform: none;
        }
      }

      &Text {
        position: relative;
        color: $black-color;
        font-family: $font-alegreya;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: normal;
        text-transform: uppercase;
        transition: $transition;

        @include tablet-lg {
          font-size: 16px;
        }

        @include mobile-sm {
          display: none;
        }
      }
    }
  }

  &Grid {
    display: grid;
    margin-bottom: 100px;
    gap: 32px 32px;
    grid-template-columns: repeat(4, 1fr);

    @include desktop-xl {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile-md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-sm {
      grid-template-columns: 1fr;
      gap: 12px 12px;
    }
  }
}