@import 'variables';
@import 'mixins';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  margin-bottom: 112px;

  @include tablet-lg {
    padding-top: 80px;
    margin-bottom: 80px;
  }

  @include mobile-md {
    padding-top: 20px;
    margin-bottom: 60px;
  }
  
  &Block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 40px;
    
    @include tablet-lg {
      margin-bottom: 17px;
    }

    @include mobile-md {
      align-items: flex-start;
      margin-bottom: 20px;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &:nth-child(2n) {
      flex-direction: row-reverse;
  
      .aboutBlockImage {
        margin-right: 0;
        margin-left: 32px;
      }
  
      @include mobile-md {
        flex-direction: row;
  
        .aboutBlockImage {
          margin-right: 16px;
          margin-left: 0;
        }
      }
    }
  }

  &BlockImage {
    max-width: 314px;
    height: auto;
    border-radius: 130px;
    margin-right: 32px;

    @include tablet-lg {
      max-width: 243px;
      border-radius: 104px;
    }

    @include mobile-md {
      max-width: 80px;
      border-radius: 33px;
      margin-right: 16px;
    }
  }

  &BlockTitle {
    @include h3-title;
    display: block;
    max-width: 416px;
    margin-bottom: 12px;
  }

  &BlockText {
    @include p-text;
    display: block;
    max-width: 416px;

    @include mobile-md {
      font-size: 12px;
      line-height: 18px;
    }
  }

  
}