@import 'variables';
@import 'mixins';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 107px;

  @include tablet-lg {
    padding: 80px 0;
  }

  @include mobile-md {
    padding: 20px 0;
  }

  &Block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 30px;

    @include mobile-md {
      align-items: flex-start;
    }

    &Image {
      max-width: 314px;
      height: auto;
      border-radius: 130px;
      margin-right: 32px;

      @include tablet-lg {
        max-width: 243px;
        border-radius: 104px;
      }

      @include mobile-md {
        max-width: 80px;
        border-radius: 33px;
        margin-right: 16px;
      }
    }

    &Title {
      @include h3-title;

      max-width: 416px;
      margin-bottom: 12px;
    }

    &Text {
      @include p-text;

      max-width: 416px;

      @include mobile-md {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &.reverse {
      flex-direction: row-reverse;

      .aboutBlockImage {
        margin-right: 0;
        margin-left: 32px;
      }

      @include mobile-md {
        flex-direction: row;

        .aboutBlockImage {
          margin-right: 16px;
          margin-left: 0;
        }
      }

    }
  }
}