@import 'variables';
@import 'mixins';

.inst {
  &Title {
    @include h2-title;
    margin-bottom: 13px;
    text-align: center;
    padding: 0 20px;

    @include tablet-lg {
      margin-bottom: 0;
    }

    @include mobile-sm {
      margin-bottom: 4px;
    }
  }

  &User {
    @include h4-title;
    display: block;
    margin-bottom: 46px;
    color: $desc-color;
    text-align: center;

    @include tablet-lg {
      margin-bottom: 20px;
    }

    @include tablet-lg {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include tablet-lg {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    &Image {
      position: relative;
      aspect-ratio: 384 / 384;

      @include tablet-lg {
        &:nth-of-type(1n+7) {
          display: none;
        }
      }

      @include mobile-sm {
        &:nth-of-type(1n+5) {
          display: none;
        }
      }
    }
  }
}