@import 'variables';
@import 'mixins';


.header {
  position: sticky;
  z-index: 10;
  top: -1px;
  margin: 46px 0;
  background: #fff;

  @include tablet-lg {
    margin-top: 32px;
    margin-bottom: 41px;
  }

  @include mobile-sm {
    margin-top: 12px;
    margin-bottom: 21px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 182px;
  height: 84px;
  transition: $transition;

  @include desktop-xl {
    width: 130px;
    height: 60px;
  }

  @include mobile-sm {
    width: 85px;
    height: 39px;
  }
  
  &Hide {
    @include mobile-sm {
      opacity: 0;
    }
  }
}

.phone {
  display: flex;
  align-items: center;

  @include tablet-lg {
    margin-left: auto;
  }

  &WrapImage {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    transition: $transition;

    @include tablet-lg {
      margin-right: 0;
    }

    @include mobile-sm {
      width: 32px;
      height: 32px;
    }
  }

  &Text {
    display: flex;
    flex-direction: column;

    @include tablet-lg {
      display: none;
    }

    &>h4 {
      color: #000;
      font-family: $font-alegreya;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 1.333px;
      line-height: normal;
      text-transform: uppercase;
      transition: $transition;

      &:hover {
        color: #e52d2d;
      }

      @include desktop-xl {
        font-size: 20px;
      }
    }

    &>span {
      @include desc-text;
    }
  }
}

.cart {
  display: flex;
  align-items: flex-end;
  cursor: pointer;

  @include tablet-lg {
    margin-left: 32px;
  }

  @include mobile-sm {
    margin-left: 24px;
  }

  &WrapImage {
    position: relative;
    width: 40px;
    height: 40px;
    transition: $transition;

    @include mobile-sm {
      width: 32px;
      height: 32px;
    }
  }

  &Icon {
    position: relative;
    margin-right: 12px;

    @include tablet-lg {
      margin-right: 0;
    }

    &>span {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #e52d2d;
      color: #fff;
      font-family: $font-roboto;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      text-align: center
    }
  }

  &Text {
    display: flex;
    flex-direction: column;

    @include tablet-lg {
      display: none;
    }

    &>h4 {
      color: #000;
      font-family: $font-alegreya;
      font-size: 18px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 1px;
      line-height: normal;
      text-transform: uppercase;
      transition: $transition;

      @include desktop-xl {
        font-size: 16px;
      }

      &:hover {
        color: #e52d2d;
      }
    }

    &>span {
      @include desc-text;

      width: 160px;
      height: 18px;
    }
  }
}

.language {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #eff0f1;
  color: #000;
  font-family: $font-alegreya;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
  transition: $transition;

  @include tablet-lg {
    margin-left: 70px;
  }

  @include mobile-sm {
    display: none;
  }

  &:hover {
    color: #e52d2d;
  }

  &>span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}


.isScroll {
  &.header {
    padding: 15px 0;
    box-shadow: 0 2px 5px 0 rgb(165 169 176 / 30%);
  }

  .logo {
    width: 68px;
    height: 31px;
  }

  .nav {
    &Link {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.889px;
    }
  }

  .phoneWrapImage,
  .cartWrapImage {
    width: 32px;
    height: 32px;
  }

  .phoneText>h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.286px;
  }

  .cart {
    &Text>h4 {
      font-size: 14px;
      font-weight: 700;
    }
  }

  .language {
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
  }

}